
job_spec.json
run.sh
# data
data/
#voc_detections
detection_output/
voc_detections/
output/
unit_test/

nohup*
*.out
# Byte-compiled / optimized / DLL files
__pycache__/
#DS_Store
.DS_Store
# dev stuff
*.ipynb
# pycharm
.idea/
# pylint
.pylintrc

