# data
data/
#voc_detections
voc_detections/
unit_test/images.pkl
unit_test/targets.pkl
unit_test/*.pkl

refinedet320_*
refinedet*
nohuo.*
*.out
# Byte-compiled / optimized / DLL files
__pycache__/
# weights
weights/

#DS_Store
.DS_Store
# dev stuff
*.ipynb
libs_modify_relu/
eval/
doc/
# pycharm
.idea/
# pylint
.pylintrc

nohup.*
*.out

