
*.json
run.sh
data/
detection_output/
voc_detections/
output/
unit_test/

nohup*
*.out
*.pyc
*.swp
*.swo
*.swn
# Byte-compiled / optimized / DLL files
__pycache__/
#DS_Store
.DS_Store
# dev stuff
demo/.ipynb_checkpoints/
# pycharm
.idea/
# pylint
.pylintrc

